body {
	background-image: url(elementos/imagen%20para%20pattern.png);
}

#principal {
    width: 80%;
    max-width: 950px;
    min-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    border-radius: 50px;
    animation: cambio-color 5s infinite;
    backdrop-filter: blur(1px); /* aplicar un efecto de desenfoque */
}

	@keyframes cambio-color {
  0% {
    box-shadow: 0px 0px 15px #ffffff;
  }
  50% {
    box-shadow: 0px 0px 15px #000000;
  }
  100% {
    box-shadow: 0px 0px 15px #ffffff;
  }
  0% {
    background-color: #ffffff05;
  }
  50% {
    background-color: #00000005;
  }
  100% {
    background-color: #ffffff05;
  }
}

#fila-1{
	padding-top: 40px;
	padding-right: 40px;
	padding-left: 40px;
}

#fila-2-trabajo {
    padding-top: 80px;
    text-align: center;
}

#contenedor-redes {
    padding-top: 0.7%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #FFFFFF;
}

.cont-redes-cent{
    text-align: center;
}

#columna-materia {
    padding-top: 30px;
    text-align: right;
    max-height: none;
}

#contenedor-tp {
    text-shadow: 0px 0px;
    padding-bottom: 0px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 1%;
    text-align: center;
}

#columna-foto {
    float: left;
    border-radius: 50px;
    animation: cambio-color 5s infinite;
    height: 180px;
    transition: all .5s ease;
}

#columna-foto:hover {
     opacity: 0%;
}

#columna-nombre {
    float: left;
    padding-top: 25px;
    padding-left: 30px;
}

.ico {
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 6px;
    margin-bottom: 5px;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ico:hover{
    scale: 1.5;
}

#fila-4{
    margin-bottom: 100px;
}

.btn {
    margin-left: 5%;
    margin-left: 5%;
    margin-top: 10%;
	display: inline-block;
}

.btn1 {
    content: "";
    background-image: url('elementos/boton/Group 1.png');
    transition: all .5s ease;
}
.btn2 {
    content: "";
    background-image: url('elementos/boton-disable/Group-disable 2.png');
    transition: all .5s ease;
}
.btn3 {
    content: "";
    background-image: url('elementos/boton-disable/Group-disable 3.png');
    transition: all .5s ease;
}
.btn4 {
    content: "";
    background-image: url('elementos/boton-disable/Group-disable 4.png');
    transition: all .5s ease;
}
.btn1:hover {
	content: "";
	background-image: url('elementos/boton-hover/Group 1.png');
    scale: 1.1;
    rotate: 20;
}
/*.btn2:hover {
	content: "";
	background-image: url('elementos/boton-hover/Group 2.png');
}
.btn3:hover {
	content: "";
	background-image: url('elementos/boton-hover/Group 3.png');
}
.btn4:hover {
	content: "";
	background-image: url('elementos/boton-hover/Group 4.png');
}*/

#footer {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow: hidden;
    background-color: #5DDDE5;
    position: fixed;
    bottom: 0;
    width: 50%;
    margin-left: 25%;
    box-shadow: 0px 0px 20px #00000075;
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    font-family: Tahoma, sans-serif;
} 